<%- include("./includes/head.ejs"); %> <%- include("./includes/nav.ejs"); %>

<div class="contianer">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Ola <%= user.email%></h1>
      <p class="text-center lead">
        Você ja esteja logado so voltar para a página
        <a href="/">princiapal</a>, caso queira criar outra conta basta clicar
        em
        <a href="/login/logout">Sair</a>
      </p>

      <%- include("./includes/messages.ejs")%>
    </div>
  </div>
</div>
<%- include("./includes/footer.ejs"); %>
